@media only screen and (max-width: 1140px) {
  h1{
	  padding: 0px 0px 0px 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .n2-section-smartslider{
    margin-top: -80px;
  }
  .yoga-main-nav .navbar .container{
		width: inherit;
	}
}