//Logo background
$logo-bg: #f2f2f2;

//Colours for site
//297f95
$primary: #2a2d7c;
$primary-hover: darken($primary, 15%); //171843

//Contact color
$contact: #3CBC8D;
$contact-hover: darken($contact, 15%);